name: "CI Tests"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    name: "[${{matrix.otp-version}}/${{matrix.elixir}}] CI Tests [OTP/Elixir]"
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp-version: 18.3
            elixir: 1.5.3
          - otp-version: 20.3
            elixir: 1.5.3
          - otp-version: 19.3
            elixir: 1.6.6
          - otp-version: 21.3
            elixir: 1.6.6
          - otp-version: 19.3
            elixir: 1.7.4
          - otp-version: 22.3
            elixir: 1.7.4
          - otp-version: 20.3
            elixir: 1.8.2
          - otp-version: 22.3
            elixir: 1.8.2
          - otp-version: 20.3
            elixir: 1.9.4
          - otp-version: 22.3
            elixir: 1.9.4
          - otp-version: 21.3
            elixir: 1.10.3
          - otp-version: 22.3
            elixir: 1.10.3
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-elixir@v1.3
        with:
          otp-version: ${{matrix.otp-version}}
          elixir-version: ${{matrix.elixir}}
      - name: Install dependencies
        run: mix deps.get --only test
      - name: Compile dependencies
        run: mix deps.compile
      - name: Compile application
        if: matrix.elixir != '1.10.3'
        run: mix compile
        env:
          MIX_ENV: test
      - name: Compile application
        if: matrix.elixir == '1.10.3'
        run: mix compile --warnings-as-errors
        env:
          MIX_ENV: test
      - run: mix test
