name: "CI Tests"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    name: "[${{matrix.otp}}/${{matrix.elixir}}] CI Tests [OTP/Elixir]"
    strategy:
      fail-fast: false
      matrix:
        pair:
          - otp: 18.3
            elixir: 1.5.3
          - otp: 20.3
            elixir: 1.5.3
          - otp: 19.3
            elixir: 1.6.6
          - otp: 21.3
            elixir: 1.6.6
          - otp: 19.3
            elixir: 1.7.4
          - otp: 22.3
            elixir: 1.7.4
          - otp: 20.3
            elixir: 1.8.2
          - otp: 22.3
            elixir: 1.8.2
          - otp: 20.3
            elixir: 1.9.4
          - otp: 22.3
            elixir: 1.9.4
          - otp: 21.3
            elixir: 1.10.3
          - otp: 22.3
            elixir: 1.10.3
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile --warnings-as-errors
      - run: mix test
